name: rolling_switch
description: Custom Switch button with attractive animation, made to allow you to customize colors, icons and other cosmetic content.

version: 0.0.2
homepage: https://github.com/jamescardona11/rolling_switch

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint: ^1.5.3

flutter:
